@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-con{
    font-family: "poppins",sans-serif;
    font-size: 16px;
    min-height: 100vh;

   
    background: hsla(0, 0%, 100%, 1);

    background: radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 82%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 82%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 82%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#D1D1D1", GradientType=1 );

   
    --background-light-grey: #F5F5F5;
    --text-black: #000;
    --accents1-royal-blue: #4169E1;
    --accents2-forest-green: #228B22;
}
section{
    background: hsla(0, 0%, 100%, 1);

    background: radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 82%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 82%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 82%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#D1D1D1", GradientType=1 );

    width: 100%;
}
.top-bg{
    width: 100%;
    /* background-image: url("../image/About\ bg.jpg"); */
    background-color: rgba(0, 0, 0,0); /* Adjust the last value (0.5) to set the opacity (0 is fully transparent, 1 is fully opaque) */
    background-blend-mode: overlay;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 400px;
    position: relative;

    overflow: hidden;
}
.top-bg img{
    background-color: #000;
    width: 100%; /* Set the width to 100% */
    height: 400px; /* Allow the height to adjust automatically to maintain the aspect ratio */
    object-fit: cover;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.top-bg h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 990;

    /* transform: translateX(50%); */
    text-align: center;

    font-size: 3rem;
    letter-spacing: 1rem;
    font-family: "poppins",sans-serif;
}

/* .about-us-heading{
    padding: 10px;
    text-align: center;

    font-size: 2rem;
    font-family: "poppins",sans-serif;
    letter-spacing: 0.5rem;
    color: var(--text-black);
} */
#about-us-show{
    padding: 40px 0px; 
}
.about-us-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 95%;
    margin: auto;
}
.about-us-content{
    width: 50%;
    margin: 0px 20px;
}
.about-us-image{
    width: 50%;
    height: 100%;
    margin: auto;

    display: flex; /* Add this line */
    overflow: hidden;
    border-radius: 10px;
}
.about-us-image img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-us-content h2{
    padding-bottom: 20px;
    text-decoration: underline;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
.about-us-content p{
    padding-bottom: 10px;
}
.about-us-socials .fa-brands{
    margin: auto;
    padding: 5px;
    font-size: 1.5rem;
    color: var(--accents1-royal-blue);
    
    transition: all 0.4s ease-in-out;
}
.about-us-socials .fa-brands:hover{
    color: var(--accents2-forest-green);
}

#MissionVision{
    margin: 50px 0px;
    padding: 5px;
}
#MissionVision .title-mission-vision{
    width: 80%;
    background-color: var(--accents1-royal-blue);
    color: #000;
    text-align: center;
    margin: 10px auto;
    padding: 30px;

}
#MissionVision .mission{
    width: 80%;
    margin: 0px auto;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mission .mission-content{
    width: 50%;
    padding: 30px;
}
.mission .mission-content  h2{
    padding: 20px 0px;
}
.mission .mission-image{
    width: 50%;

    display: flex;
    overflow: hidden;
}
.mission .mission-image img{
    width: 100%;
    object-fit: cover;
}

#MissionVision .vision{
    width: 80%;
    margin: 0px auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.vision .vision-content{
    width: 50%;
    padding: 30px;
}
.vision .vision-content h2{
    padding: 20px 0px;
}
.vision .vision-image{
    width: 50%;

    display: flex;
    overflow: hidden;
}
.vision .vision-image img{
    width: 100%;
    height: auto;

    object-fit: cover;
}
.our-values-heading{
    text-align: center;
    padding: 20px;

    font-weight: 600;
    font-size: 2rem;  
}
.accordation{
    width: 80%;
    margin: 0px auto;
}
.accordation-heading h2{
    padding: 10px;
    background-color: #F5F5F5;
}
.accordation-content p {
    background-color: white;
    padding: 20px;

}
#our-services-about{
    margin: 50px 0px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* gap: 100px; */
}

/* //services css  */
.service-about{
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;

    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transition: all 0.5s ease-in-out;
}
.service-about:hover{
    box-shadow: inset 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}
.service-about img{
    width: 50%;
    text-align: center;
}
.service-about p{
    text-align: center;

    /* padding: 10px; */
    font-weight: 500;
    font-size: 0.8rem;
}


@media (max-width: 900px){
    .about-us-container{
        flex-direction: column-reverse;
    }
    .about-us-content{
        width: 90%;
    }
    #MissionVision .title-mission-vision{
        width: 95%;
    }
    .about-us-image{
        width: 90%;
        padding: 20px 0px;
    }
    .mission .mission-image{
        width: 100%;
    }
    .mission .mission-content{
        width: 100%;
    }
    #MissionVision .mission{
        width: 95%;
        flex-direction: column-reverse;
    }
    .vision .vision-image{
        width: 100%;
    }
    .vision .vision-content{
        width: 100%;
    }
    #MissionVision .vision{
        width: 95%;
        flex-direction: column;
    }
    .accordation{
        width: 90%;
    }

}

/* footer css  */
/* footer css start  */
#footer {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: baseline;

  /* background: rgb(70,70,70);
    background: linear-gradient(0deg, rgba(70,70,70,1) 0%, rgba(98,98,98,1) 100%); */

  background-color: #353535 !important;
}

.footer-sub {
  width: 23%;
  padding: 5px;
  /* border: 1px solid black; */
  border-radius: 10px;

  transition: all 0.4s ease;
}
.footer-section-1{
    width: 30%;
    margin-left: 40px;
}
.content-footer i {
  margin: 10px;
  margin-left: 0px;
  font-size: 1.2rem
}

.footer-socials i {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.4rem;

  transition: all 0.4s ease;
}

.footer-socials i:hover {
  color: #00b4d8 !important;
  background-color: white;
}

.footer-heading h1 {
  padding: 10px 0px;

  font-family: "poppins", sans-serif;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
}

.content-footer {
  font-family: "poppins", sans-serif;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 500;

}

.footer-2-link i {
  font-size: 0.8rem;
}

.footer-2-link a {
  color: #ffffff;
  text-decoration: none;

  transition: all 0.4s ease-in-out;
}

.footer-2-link a:hover {
  color: #00b4d8 !important;
  letter-spacing: 2px;
}

.footer-section-2 {
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

@media (max-width: 900.33333px) {
  .footer-sub {
    width: 90%;
    margin: 0px auto;
  }

  #footer {
    flex-direction: column;
  }
}

#bottom-footer-section{
  background-color: #353535 !important;
  border-top: 0.5px solid white;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#bottom-footer-section p{
  color: white;
  display: inline-block;
  margin-left: 20px;
  padding: 10px;

  font-size: 0.8rem;
}
#bottom-footer-section p a{
  color: white;
  /* text-decoration: none; */
}

/* footer css end  */